<!DOCTYPE html>
{% autoescape true %}
<html>
	<head>
		<title>ЧМ 2014 - Конкурс прогнозов</title>
		<link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
		{% block header %}
		{% endblock %}
	</head>

  	<body onload="body_loaded()">

		<div class="menu_item"><a href='/'>Результаты</a></div>
		<div class="menu_item"><a href='/new_predict'>Сделать прогноз</a></div>
		<div class="menu_item"><a href='/schedule'>Матчи</a></div>
		
		<div class="content">
		<br>
		{% block content %}
  		{% endblock %}
  		</div>
  	</body>
</html>
{% endautoescape %}