{% extends 'base.html' %}
      

{% block content %}


<table class="users_table">
<tr>
<th>Match</th>
<th>Score</th>
{% for user in users %}
<th colspan="1">{{user.lastname}}</th>
{% endfor %}
</tr>

{% for prediction in predictions %}
<tr>
  <td class="left_aligned_cell">{{ prediction.match }}</td>
  <td>{{ prediction.score }}</td>
  {% for ps in prediction.pred_scores %}
    <td>{{ ps }}</td>
  {% endfor %}
</tr>
{% endfor %}

<!--
{% for match in matches %}
<tr>
<td class="left_aligned_cell">{{ match.home_team }} - {{ match.guest_team }}</td>
<td>
  {% if match.home_goals %}
  {{ match.home_goals }}-{{ match.guest_goals }}
  {% else %}
  Not played
  {% endif %}
</td>
{% for user in users %}
<td>2-1</td>
<td>4</td>
{% endfor %}
</tr>
{% endfor %}
-->

</table>

{% endblock %}
