{% extends 'base.html' %}

{% block content %}

<table class="users_table">

<tr>
<th class="title_cell">Игрок</th>
<th colspan="2" class="title_cell">Точный счет</th>
<th colspan="2" class="title_cell">Угадана разница</th>
<th colspan="2" class="title_cell">Угадан исход</th>
<th colspan="2" class="title_cell">Не угадано</th>
<th colspan="2" class="title_cell">Результат</th>
</tr>

{% for user in users %}
<tr>
<td class="left_aligned_cell"><b>{{ user.firstname }} {{ user.lastname }}</b></td>
<td class="guess_full">{{ user.fullCount }}</td>
<td class="guess_full">{{ user.fullPercent }}%</td>
<td class="guess_result">{{ user.resultCount }}</td>
<td class="guess_result">{{ user.resultPercent }}%</td>
<td class="guess_score">{{ user.scoreCount }}</td>
<td class="guess_score">{{ user.scorePercent }}%</td>
<td class="guess_nothing">{{ user.nothingCount }}</td>
<td class="guess_nothing">{{ user.nothingPercent }}%</td>
<td><b>{{ user.total }}</b></td>
</tr>
{% endfor %}

</table>

{% endblock %}