body {
	font: 110% arial;
	background-image: url('cup.jpg');
}

.match_predict_teams {
	float: left;
	text-align: right;
	background-color: orange;
}

.score {
	font-size: 120%;
	width: 30px;
	text-align: center;
}

.menu_item {
	margin-left: 20px;
	margin-right: 20px;
	float: left;
}

.content {
	width: 100%;
	float: left;
}

table, th, td {
	border: solid 1px #777;
}

th, td {
	padding: 5px;
	text-align: center;
	background-color: #FFF;
}

.left_aligned_cell {
	text-align: left;
}

.users_table {
	border-spacing: 0;
}

.guess_full {
	background-color: #2C2;
	font-weight: bold;
}

.guess_result {
	background-color: yellow;
	font-weight: bold;
}

.guess_score {
	background-color: orange;
	font-weight: bold;
}

.guess_nothing {
	background-color: #F44;
	font-weight: bold;
}

.guess_none {
	background-color: #FFF;
	font-weight: bold;
}

.title_cell {
	background-color: #DDD;
}

.match_predict_left, #firstname, #lastname {
	color: #33D;
	font-size: 120%;
}